
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        {% csrf_token %} 
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Finance Department Gilgit-Baltistan</h3>
            <p>
              Gilgit-Baltistan Civil Secretariat  <br>
              Khazana Road <br>
              Gilgit  <br><br>
              <strong>call:</strong> tel:92-05811-920501<br>
              <strong>Email:</strong> abidps@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'budget'%}">Budget Books </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'latest'%}">Latest</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Budgetting </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Budgat allocation </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Budget Distribuiton </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accepting additional demands and proposals </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Management of SNE's</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Finance Department Gilgit-Baltistan </span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="tel:00923489926447">Programmer FD GB </a>
          <a href="tel:00923489926447">Call</a>

        </div>
      </div>

      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="{{socio.twitter}}" class="twitter"><i class="bx bxl-whatsapp"></i></a>
        <a href="{{socio.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="{{socio.instagram}}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="{{socio.skype}}" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="tel:{{socio.phone}}" class="phone"><i class="bx bxl-phone"></i></a>
      </div>
     
    </div>
  </footer><!-- End Footer -->
</html>